:root {
  --font-family: "Quicksand", sans-serif;
}

body {
  background-color: #352f5b;
  color: #fff;
  font-family: var(--font-family);
}

h1 {
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 30px;
}

header {
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"],
input[type="text"].focus {
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  width: 400px;
  border-radius: 6px;
}

::placeholder {
  font-size: 15px;
}

main {
  max-width: 400px;
  margin: 30px auto;
  border-radius: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.todos li {
  list-style: none;
  background: #423a6f;
}

.delete {
  cursor: pointer;
}

i {
  color: #fff;
}

section {
  max-width: 400px;
  margin: 0 auto;
}

.add {
  display: flex;
  flex-direction: column;
}

.new-todo {
  margin-bottom: 10px;
  text-align: center;
}

.filtered {
  display: none !important;
}
